/************************************************/
/*    Stuart Mavis door Shawn Buckles           */
/************************************************/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background: black url('../img/bg.png') no-repeat center;
}

html, body {
    height: 100%;
}

body {
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    line-height: 1em;
}

/* ---------------------- */

section {
    padding: 0;
}

.story-content {
    margin: 0 auto;
}

.site-width {
    width: 98%;
    max-width: 900px;
    margin: 0 auto;
}

.copy-width {
    width: 96%;
    margin: 0 auto;
}

/* ---------------------- */

h1 {
    text-align: center;
    font-size: 4em;
    line-height: 0.8em;
    margin-bottom: 0;
}

p {
    font-size: 0.6em;
}

/* ---------------------- */

ol li{
    list-style-type: none;
    float: left;
    margin: 0 0.8em;
}

/* ---------------------- */

.nav {
    width: 460px;
    height: 1em;
    margin: 0 auto;
}
.head {
    margin: 2em 0 1em;
}