/************************************************/
/*    Stuart Mavis door Shawn Buckles           */
/************************************************/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background: black url('../img/bg.png') no-repeat center top;
}

html, body {
    height: 100%;
}

body {
    color: white;
    font-family: 'Helvetica Neue', Georgia, serif;
    font-size: 30px;
    line-height: 1em;
}

/* ---------------------- */

section {
    padding: 0;
}

.story-content {
    margin: 0 auto;
}

.site-width {
    width: 98%;
    max-width: 900px;
    margin: 0 auto;
}

.copy-width {
    width: 96%;
    margin: 0 auto;
}

/* ---------------------- */

h1 {
    text-align: center;
    font-size: 4em;
    line-height: 0.8em;
    margin-bottom: 0;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* ---------------------- */

ul li{
    list-style-type: none;
    display: inline;
}

ul.flat{
    text-align: center;
    padding: 0;
    margin: 0 0 1em;
}
ul.flat li {
    margin: 0 0.5em;
    font-size: 0.6em;
    text-transform: lowercase;
}

ul.social {
    text-align: center;
    padding: 0;
}
ul.social li {
    display: inline-block;
    height: 64px;
    width: 64px;
}
ul li.facebook {
    background: url('../img/02_facebook.png') no-repeat center;
}
ul li.twitter {
    background: url('../img/01_twitter.png') no-repeat center;
}
ul li.youtube {
    background: url('../img/03_youtube.png') no-repeat center;
}
ul li.soundcloud {
    background: url('../img/24_soundcould.png') no-repeat center;
}
ul li.tumblr {
    background: url('../img/15_tumblr.png') no-repeat center;
}
ul li.instagram {
    background: url('../img/10_instagram.png') no-repeat center;
}
/* ---------------------- */

.logo{
    background: url('../img/logo.png') no-repeat center center;
    height: 130px;
}