/************************************************/
/*    Stuart Mavis door Shawn Buckles           */
/************************************************/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html {}
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    color: black;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 30px;
    line-height: 1em;
    padding: 0;
    margin: 0;
}

/* ---------------------- */

section {
    padding: 0;
}

.story-content {
    margin: 0 auto;
}

.site-width {
    width: 98%;
    max-width: 900px;
    margin: 0 auto;
}

.copy-width {
    width: 96%;
    margin: 0 auto;
}

/* ---------------------- */

h1 {
    font-size: 1.6em;
    line-height: 1em;
    margin: 0;
    letter-spacing: -3px;
}
h3 {
    font-size: 0.5em;
    color: black;
    padding: 0;
    line-height: 0.5em;
}

p {
    font-family: Skolar, 'Helvetica Neue', Arial, sans-serif;
    font-size: 0.5em;
    line-height: 0.3em;
    color: black;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* ---------------------- */

.head {
    background: #3E6169 url('../img/bg_head.png') repeat;
    padding: 0 0 2em 0;
}
.bio {
    background: #6DABBA url('../img/bg_bio.png') repeat;
    padding: 3em 0;
}
.music {
    background: #E6E3D1 url('../img/bg_music.png') repeat;
    height: 580px;
    padding: 2em 0;
}
.contact {
    background: #E6E3D1 url('../img/bg_contact.png') repeat;
    padding: 5em 0;
}
.footer {
    background: #333F37;
    height: 1.5em;
}
.puller {
    display: block;
    clear: both;
    height: 1px;
}

.logo {
    background: url('../img/logo.png') no-repeat center bottom;
    height: 140px;
}
.nav {
    width: 60%;
    position: absolute;
    margin: 1em auto;
    padding: .2em 0 .3em 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.social {
    margin-top: 3em;
}
.soundcloudwrap {
    width: 400px;
    height: 300px;
    float: left;
}
.bandsintown {
    width: 400px;
    height: 300px;
    float: right;
    color: black;
}
.bookings {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

/* ---------------------- */

.bio p {
    width: 80%;
    margin: 0 auto;
    font-size: 0.6em;
    line-height: 2.2em;
    color: white;
    text-shadow: 0px 2px 0px #3E6169;
    text-align: center;
}
.bio h1 {
    margin-bottom: 0.5em;
    text-align: center;
    text-shadow: 0px 2px 0px #6DABBA;
}
.music h1 {
    color: #6DABBA;
}
.contact h1 {
    padding: 1em 0 0.5em 0;
    text-shadow: 0px 2px 0px white;
}
.contact p {
    font-size: 0.6em;
    line-height: 0.5em;
    color: black;
    text-shadow: 0px 1px 0px white;
}
.contact a {
    color: black;
}
.footer p {
    margin: 0 auto;
    padding-top: 2em;
    text-align: center;
    color: #555;
    font-size: 0.4em;
    font-style: italic;
}
.footer a {
    color: #666;
}

ul {
    padding: 0;
}
ul li{
    list-style-type: none;
    display: inline;
}

ul.flat{
    text-align: center;
    padding: 0;
    margin: 0 0 0em;
}
ul.flat li {
    margin: 0 1.3em;
    font-size: 0.5em;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px black;
    letter-spacing: -1px;
}

ul#news {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 1em;
    text-align: center;
    border-bottom: 1px solid #6DABBA;
}
ul#news li {
    display: block;
    color: white;
    font-family: Skolar, 'Helvetica Neue', Arial, sans-serif;
    font-size: 0.5em;
    text-shadow: 0px 1px 0px #3E6169;
    border-top: 1px solid #6DABBA;
}
ul#news li:hover {
    background: #6DABBA;
}

ul.social {
    text-align: center;
    padding: 0;
    margin: 0.8em 0 1em;

}
ul.social li {
    display: inline-block;
    height: 48px;
    width: 48px;
}
ul li.facebook {
    background: url('../img/02_facebook.png') no-repeat center;
    background-size: 100%;
}
ul li.twitter {
    background: url('../img/01_twitter.png') no-repeat center;
    background-size: 100%;
}
ul li.youtube {
    background: url('../img/03_youtube.png') no-repeat center;
    background-size: 100%;
}
ul li.soundcloud {
    background: url('../img/24_soundcould.png') no-repeat center;
    background-size: 100%;
}
ul li.tumblr {
    background: url('../img/15_tumblr.png') no-repeat center;
    background-size: 100%;
}
ul li.instagram {
    background: url('../img/10_instagram.png') no-repeat center;
    background-size: 100%;
}